body {
    background: #384047;
    font-family: sans-serif;
  }
  #timer {
   

    display: flex;
    flex-direction: column;
  }

  #cronometru{

    margin-top: 20px;
    width: 30%;
    height: 30px;

  }

  #start{

    margin-top: 20px;
    width: 30%;
    height: 50px;
    background-color: orange;
  }